<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="madcow.magic.app"
         name="Magic Collection Builder"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="madcow.magic.ui.MagicApplication">
         </run>
      </application>
   </extension>
   <extension
         id="madcowMagicProduct"
         point="org.eclipse.core.runtime.products">
      <product
            application="madcow.magic.app"
            name="Magic Collection Builder">
         <property
               name="appName"
               value="Magic Collection Builder">
         </property>
      </product>
   </extension>

</plugin>
