<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="madcow.magic.app"
         name="Magic Collection Builder"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-global"
            thread="main"
            visible="true">
         <run
               class="madcow.magic.ui.MagicApplication">
         </run>
      </application>
   </extension>

</plugin>
